@import "./var.scss";

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-row-center-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flex-row-center-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-row-end-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-column-center-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin row-line {
  position: absolute;
  content: "";
  background: $line-color;
  left: 0;
  right: 0;
  height: 2px;
  transform: scaleY(0.5);
}

@mixin column-line {
  position: absolute;
  content: "";
  background: $line-color;
  top: 0;
  bottom: 0;
  width: 2px;
  transform: scaleX(0.5);
}

@mixin default-shadow {
  box-shadow: 5px 9px 20px 0px rgba(203, 203, 203, 0.2);
  border-radius: 20px;
  overflow: hidden;
}
